@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 3)
and (-webkit-device-pixel-ratio : 3) {
	.portfolio {
		margin: 0 auto;
		width: 100%!important;
	}

	.jumbotron p {
		font-size: 25px;
	}
	.jumbostron h1 {
		font-size: 50px;
		margin-top: 35px;
	}
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	.portfolio {
		margin: 0 auto;
		width: 60%;
	}
	.jumbotron p {
		font-size: 25px;
	}
	.jumbotron h1 {
		font-size: 50px;
		margin-top: 35px;
	}
}

.navbar {
	background-color: #DEE4ED;
}

.nav-spacing {
	padding-left: 2px;
	padding-right: 10px;
}

.navbar-header {
	color: #FFFFFF;
}

.navbar-makeup {
	background-color: #ffffff;
	border-color: #000000;
	border-style: groove;
}

.jumbotron {
	background-image: url('../middle-section.jpg');
	background-size: cover;
	height: 47em;
}

.col-md-offset-3 {
	margin-top: 20px;
	z-index: 1;
	color: #FFFFFF;
	text-align: center;
}

.col-md-4 {
	background-color: #757C87;
	border: 1px solid #000000;
	color: #FFFFFF;
	text-align: center;
}

.portfolio_col {
	background-color: #757C87;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	color: #FFFFFF;
	text-align: center;
	height: 340px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.col-md-6 {
	text-shadow: 1px 1px 2px #000000;
}

.row-portfolio {
	margin-left: 15px;
	margin-right: 15px;
}

.portfolio {
	text-align: center;
	margin-bottom: 25px;
}

footer {
	height: 130px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

.image {
	height: 150px;
	width: 250px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#icons {
	margin: 10px;
}

.middle-section h1 {
	animation-delay: .5s;
}

.middle-section h3 {
	animation-delay: 2s;
}

.middle-section p {
	animation-delay: 2s;
}

h4 {
	padding: 15px;
}

.project {
	display: flex;
	flex-direction: column;
}

.project_name {
	flex-grow: 1;
}

.project_tech {
	flex-grow: 1;
}

li > a {

}

.card{
	position: relative;
	border-radius: 5px;
	height:100%;
	width: 95%;
	margin-bottom: 5px;
}

.card a{
	text-decoration: none;
	color:black;

}

.card_content h3{
	margin-top:0;
	padding: 2px;
	border-bottom: solid 2px rgba(0,0,0,0.4);
}

.card:hover {
	box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.card img {
	width:90%;
	height:220px;
	border-radius: 5px 5px 0 0;
}

.card-backdrop {
	background-color: #E0E2E5;
}

.icon-space {
	margin-right: 10px;
}

.facebook {
	color: #3B5998;
}

.twitter {
	color: #55ACEE;
}

.github {
	color: #008000;
}

.linkedin {
	color: #007BB5;
}

.facebook:hover {
	color: #3B5998;
}

.twitter:hover {
	color: #55ACEE;
}

.github:hover {
	color: #008000;
}

.linkedin:hover {
	color: #007BB5;
}

.email {
	color: #ffffff;
}

.email:hover {
	color: #ffffff;
}

