@media only screen and (min-width: 768px) {
	.container-fluid h1 {
		font-size: 5em;
	}

	.container-fluid h2 {
		font-size: 2.5em;
	}

	.contact-format-text {
		width: 55%;
	}

	#period-divide {
		margin: 0;
		margin-top: -40px;
	}
	#slide-format {
		height: 80%;
		width: 80%;
	}
	.numbertext-format {
		left: 10%;
	}

	.prev {
		left: 10%!important;
	}

	.next {
		right: 10%!important;
	}

}

@media only screen and
(min-width: 300px) and
(max-width: 767px) {
	.container-fluid h1 {
		font-size: 3em;
	}

	.container-fluid h2 {
		font-size: 1.5em;
	}

	.contact-format-text {
		width: 70%;
	}

	.navbar-format {
		background-color: #fff;
	}

	.nav-text {
		color: #000000!important;
	}

	#period-divide {
		margin: 0;
		margin-top: -30px;
	}
	#slide-format {
		height: 100%;
		width: 100%;
	}

}

* {
	font-family: 'Fira Sans', sans-serif;
}

.navbar-makeup {
	background-color: transparent;
}

.navbrand-text {
	color: #fff;
}

.brand-text:hover {
	background-color: #fff;
}

.nav-text {
	color: #fff;
}

.icon-bar-format {
	background-color: #fff;
}

.intro {
	background-color: #7110ef;
	color: #fff;
}

.intro-format {
	text-align: center;
	height: 100vh;
	position: relative;
	top: 190px;
}

.aboutme {
	background-color: #12cca6;
}

.aboutme-format {
	height: 100vh;
	position: relative;
	top: 80px;
}

.aboutme-text {
	font-weight: 600;
}

.aboutme-format-text {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
}

.portfolio {
	background-color: #c11515;
	color: #fff;
}

.portfolio-format {
	text-align: center;
	height: 100vh;
	position: relative;
	top: 60px;
}

.contact {
	background-color: #000000;
	color: #fff;
}

.contact-format {
	text-align: center;
	height: 100vh;
	position: relative;
	padding-top: 120px;
}

.contact-format-text {
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}

#contact-text {
	font-size: 1.3em;
	margin-bottom: 25px;
}

#hr-intro {
	border-top: 2px double #FFFFFF;
	width: 50%;
}

#hr-aboutme {
	border-top: 2px double #000000;
	width: 38%;
}

#hr-portfolio {
	border-top: 2px double #FFFFFF;
	width: 30%;
}

#hr-contact {
	border-top: 2px double #FFFFFF;
	width: 40%;
}

.list-container {
	font-size: 1.3em;
	height: 170px;
	width: 275px;
	margin: 0 auto;
}

.list-left {
	float: left;
}

.list-right {
	float: right;
}

#icons {
	margin: 10px;
}

.icons-space {
	margin-right: 10px;
}

.facebook {
	color: #3B5998;
}

.twitter {
	color: #55ACEE;
}

.linkedin {
	color: #007BB5;
}

.github {
	color: #008000;
}