.navbar {
	background-color: #DEE4ED;
}

.nav-spacing {
	padding-left: 2px;
	padding-right: 10px;
}

.navbar-header {
	color: #FFFFFF;
}

.jumbotron {
	background-image: url('../middle-section.jpg');
	background-size: cover;
	height: 50em;
}

.col-md-offset-3 {
	margin-top: 20px;
	z-index: 1;
	color: #FFFFFF;
	text-align: center;
}

.col-md-4 {
	background-color: #757C87;
	border: 1px solid #000000;
	color: #FFFFFF;
	text-align: center;
}

.col-md-3 {
	background-color: #757C87;
	border: 1px solid #000000;
	color: #FFFFFF;
	text-align: center;
	height: 340px;
}

.row-portfolio {
	margin-left: 15px;
	margin-right: 15px;
}

.portfolio {
	text-align: center;
	margin-bottom: 25px;
}

footer {
	height: 100px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	height: 115px;
}

.image {
	height: 150px;
	width: 250px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#icons {
	margin: 10px;
}

h4 {
	padding: 15px;
}

.project {
	display: flex;
	flex-direction: column;
}

.project_name {
	flex-grow: 1;
}

.project_tech {
	flex-grow: 1;
}

li > a {

}

.card{
	position: relative;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
	border-radius: 5px;
	height:100%;
	margin-bottom: 5px;
}

.card a{
	text-decoration: none;
	color:black;

}

.card_content h3{
	margin-top:0;
	padding: 2px;
	background: linear-gradient(135deg, #DEE4ED, #CDD3DC);
}

.card:hover {
	box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.card img {
	width:90%;
	height:220px;
	border-radius: 5px 5px 0 0;
}